.CardItem{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    border-radius: 1rem;
    padding: 4px;
}
.Title{
    color: rgba(255, 255, 255, 0.382);
}
.ItemImg{
    border-radius: 1rem;
    box-shadow: 3px 1px 0 rgba(255, 255, 255, 0.763);
}
.InfoItem{
    color: rgba(255, 255, 255, 0.382);
    margin-bottom: 5px;
}
.Option2{
    color: white;
    text-decoration: none;
}
.Option2:hover{
    background-color: rgba(255, 255, 255, 0.117);
    border-radius: 10px;

}